# -------------------------------------
# required for the period of transition
# -------------------------------------

-e file:../konfig#egg=konfig
# konfig >= 2.0
# git+https://github.com/return42/konfig@six#egg=konfig

-e file:../tokenlib#egg=tokenlib
# tokenlib >= 2.0
# git+https://github.com/return42/tokenlib@six#egg=tokenlib

-e file:../PyBrowserID#egg=PyBrowserID
# PyBrowserID >= 2.0
# git+https://github.com/return42/PyBrowserID@six#egg=PyBrowserID

-e file:../hawkauthlib#egg=hawkauthlib
# hawkauthlib >= 2.0
# git+https://github.com/return42/hawkauthlib@six#egg=hawkauthlib

-e file:../pyramid_hawkauth#egg=pyramid_hawkauth
# pyramid_hawkauth >= 2.0
# git+https://github.com/return42/pyramid_hawkauth@six#egg=pyramid_hawkauth

# --------
# requires
# --------

-e file:../mozservices#egg=mozsvc
# mozservices >= 2.0
# git+https://github.com/return42/mozservices@six#egg=mozsvc

-e file:../tokenserver#egg=tokenserver
# tokenserver >= 2.0
# git+https://github.com/return42/tokenserver@six#egg=tokenserver

pyramid
requests
zope.interface
webtest
testfixtures

# --------
# develop
# --------

pytest
pytest-cov
pip
pylint
tox
twine
wheel
